/.idea
/.settings
/.classpath
/.metadata/
/target/
/nbproject/
/RemoteSystemsTempFiles/
licenseheader.txt
nbactions-dev-deploy.xml
nb-configuration.xml
*.iml
src/main/resources/application-magic.properties
src/main/resources/application-dev.properties
nbactions.xml
*.tern-project
