/.idea
/target/
licenseheader.txt
nbactions-dev-deploy.xml
nb-configuration.xml
/nbproject/
/.settings
b2b.iml
/.classpath
src/main/resources/application-magic.properties
src/main/resources/application-dev.properties
/.metadata/
