#sddm
{	
margin: 0;

padding: 0;

z-index: 10;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;}

#sddm li a
{	
	}

#sddm li a:hover
{	background: none;}

#sddm div
{	
	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	
	border: 0px solid #5970B2;}

	#a1
	{
	
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:110px; 
	height:12px;}


#a2
	{
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:119px; 
	height:12px;}

#a3
	{
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:155px; 
	height:12px;}

#a4
	{
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:121px; 
	height:12px;}

#a5
	{
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:112px; 
	height:12px;}

#a6
	{
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:192px; 
	height:12px;}

#a7
	{
	position: relative;
	display: block;
	margin: 0 1px 0 0;
	padding:12px 0px 5px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold;
	width:110px; 
	height:12px;}

	#sddm div a:hover
	{		background:#A67C52; 
			color:#FFFFFF;}
			
.underline-submenu{
border-top:1px solid #B4A699;
}
.text-bullet{
font-size:10px;
}





/*#sddm
{	
margin: 0;

padding: 0;

z-index: 10;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	
	}

#sddm li a:hover
{	background: none;}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	
	border: 0px solid #5970B2}

	#a1
	{
	position: relative;
	display: block;
	margin: 0;
	padding: 8px 10px;
	
	text-align: left;
	text-decoration: none;
	background: #DAC9AF;
	color: #816852;
	font-style:Tahoma;
	font-weight:bold
	width:110px; 
	height:12px}


#a2
	{
	text-align:left;	
	position: relative;
	font-style:Tahoma;
	font-weight:bold;
	display:block; 
	padding-top:12px;
	padding-left:10px;
	color:#816852;
	text-decoration:none; 
	background:#DAC9AF;
	width:119px; 
	height:12px}

#a3
	{
	text-align:left;	
	position: relative;
	font-style:Tahoma;
	font-weight:bold;
	display:block; 
	padding-top:12px;
	padding-left:10px;
	color:#816852; 
	text-decoration:none; 
	background:#DAC9AF;
	width:155px; 
	height:12px}

#a4
	{
	text-align:left;	
	position: relative;
	font-style:Tahoma;
	font-weight:bold;
	display:block; 
	padding-top:12px;
	padding-left:10px;
	color:#816852; 
	text-decoration:none; 
	background:#DAC9AF;
	width:121px; 
	height:12px}

#a5
	{
	text-align:left;	
	position: relative;
	font-style:Tahoma;
	font-weight:bold;
	display:block; 
	padding-top:12px;
	padding-left:10px;
	color:#816852; 
	text-decoration:none; 
	background:#DAC9AF;
	width:112px; 
	height:12px}

#a6
	{
	text-align:left;	
	position: relative;
	font-style:Tahoma;
	font-weight:bold;
	display:block; 
	padding-top:12px;
	padding-left:10px;
	color:#816852; 
	text-decoration:none; 
	background:#DAC9AF;
	width:192px; 
	height:12px}

#a7
	{
	text-align:left;	
	position: relative;
	font-style:Tahoma;
	font-weight:bold;
	display:block; 
	padding-top:12px;
	padding-left:10px;
	color:#816852; 
	text-decoration:none; 
	background:#DAC9AF;
	width:110px; 
	height:12px}

	#sddm div a:hover
	{		background:#A67C52; 
			color:#FFFFFF}
			
.underline-submenu{
border-top:1px solid #B4A699
}
.text-bullet{
font-size:10px;
}*/