BODY {
	FONT: 12spx/16px Arial, Helvetica, Tahoma; COLOR: #333333
}
TD {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #333333
}
TH {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #333333
}
DIV {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #333333
}
P {
	FONT: 12px/16px Tahoma, Arial, Helvetica, Tahoma; COLOR: #333333
}
LABEL {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #333333
}
INPUT {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #333333
}
INPUT {
	COLOR: #333333; LINE-HEIGHT: 12px
}
SELECT {
	COLOR: #333333; LINE-HEIGHT: 12px
}
A {
	COLOR: #0000FF
}
A:visited {
	COLOR: #0000FF
}
A:hover {
	COLOR: #CAE001
}
A {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
FIELDSET {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
H6 {
	FONT: bold 12px Arial, Helvetica, Tahoma
}

H3 {
	FONT: bold 14px Tahoma, Helvetica, Tahoma; COLOR: #747533;
}

.article-decor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; PADDING-TOP: 0px
}
#contact_text {
	MARGIN: 0px 0px 5px; OVERFLOW: auto; WIDTH: 90%; HEIGHT: auto
}
.article_separator {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 15px; MARGIN: 15px 0px 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
.column_separator {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 12px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.article_column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.article_indent H3 {
	OVERFLOW: hidden
}
.article_indent H3 IMG {
	FLOAT: left; MARGIN: 0px 3px 0px 0px
}
.container UL {
	MARGIN: 0px 0px 0px 10px; LIST-STYLE-TYPE: none
}
.container UL LI {
	PADDING-LEFT: 10px! important; BACKGROUND: url(../images/list-marker2.gif) no-repeat left 6px
}
.contentdescription IMG {
	MARGIN: 0px 20px 0px 0px
}
.contentpaneopen IMG {
	MARGIN: 0px 15px 0px 0px
}
.contentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: bold 25px/27px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #000; PADDING-TOP: 0px
}
.componentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: bold 25px/27px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #000; PADDING-TOP: 0px
}
TD.contentheading {
	FONT: 23px/27px Tahoma, Geneva, Tahoma; COLOR: #000
}
.componentheading {
	MARGIN: 0px 0px 2px
}
.contentpaneopen P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.buttonheading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 5px
}
.buttonheading IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 4px; PADDING-TOP: 0px
}
SPAN.contentheading {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 15px; PADDING-TOP: 15px
}
.iteminfo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px
}
.modifydate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #7a7a7a; PADDING-TOP: 10px; TEXT-DECORATION: none! important
}
.createdby {
	DISPLAY: block; TEXT-TRANSFORM: none; COLOR: #7a7a7a
}
.createdate {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; MARGIN: 0px; COLOR: #7a7a7a; LINE-HEIGHT: 11px; PADDING-TOP: 0px
}
DIV.small {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; MARGIN: 0px; COLOR: #7a7a7a; LINE-HEIGHT: 11px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.button {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/button04.gif) repeat-x left top; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; VERTICAL-ALIGN: top; WIDTH: 63px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.module .button {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/button04.gif) repeat-x left top; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; VERTICAL-ALIGN: top; WIDTH: 63px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.validate {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/button04.gif) repeat-x left top; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; VERTICAL-ALIGN: top; WIDTH: 63px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.readmore A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/button04.gif) repeat-x left top; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; VERTICAL-ALIGN: top; WIDTH: 63px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
* HTML .container INPUT.button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 23px
}
* + HTML .container INPUT.button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 23px
}
.readmore A {
	PADDING-RIGHT: 25px; PADDING-LEFT: 8px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 6px; WIDTH: auto; COLOR: #000; PADDING-TOP: 5px; WHITE-SPACE: nowrap; HEIGHT: auto
}
DIV.blank A {
	PADDING-RIGHT: 25px; PADDING-LEFT: 8px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 6px; WIDTH: auto; COLOR: #000; PADDING-TOP: 5px; WHITE-SPACE: nowrap; HEIGHT: auto
}
DIV.blank A {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
* HTML .button {
	DISPLAY: block
}
* HTML .validate {
	DISPLAY: block
}
.button2-left {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.button2-left {
	DISPLAY: inline
}
.image {
	DISPLAY: inline
}
.button2-left A:hover {
	BACKGROUND: #d10054; COLOR: #fff
}
.readmore A:hover {
	BACKGROUND: #d10054; COLOR: #fff
}
DIV.blank A:hover {
	BACKGROUND: #d10054; COLOR: #fff
}
.readmore A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px
}
DIV.blank A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 0px
}
#editor-xtd-buttons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 300px; PADDING-TOP: 5px
}
#editor-xtd-buttons .readmore {
	DISPLAY: inline
}
.nobutton .button {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-TRANSFORM: none; WIDTH: 100%; COLOR: #333; LINE-HEIGHT: 16px; TEXT-ALIGN: left
}
.nobutton .button:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.toolbar .button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px
}
DIV.readmore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
DIV A.readon {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; FONT: 12px/12px Arial, Helvetica, Tahoma; WIDTH: 95px; COLOR: #da1544; PADDING-TOP: 5px; TEXT-ALIGN: center
}
A.readon:hover {
	BACKGROUND: #fff; TEXT-DECORATION: none
}
A.readon:visited {
	COLOR: #000
}
.blog_more {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.blog_more H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.blog_more UL {
	MARGIN: 10px 0px 0px 15px
}
.blog_more A {
	TEXT-DECORATION: underline
}
.blog_more A:hover {
	TEXT-DECORATION: none
}
.pagenav {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
A.pagenav {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.pagenav:hover {
	TEXT-DECORATION: underline
}
A.pagenav:visited {
	TEXT-DECORATION: none
}
.pagination_nav {
	PADDING-RIGHT: 20px; PADDING-LEFT: 27px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.pagination_nav DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.pagination {
	MARGIN-TOP: 10px
}
.pagination LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.pagination_result {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 5px
}
.pagination SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.pagination STRONG SPAN {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.searchArea {
	BORDER-RIGHT: #c2b1b5 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c2b1b5 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c2b1b5 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #c2b1b5 1px solid
}
.searchArea .inputbox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid
}
.searchArea SELECT.inputbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sectiontableentry0 TD {
	
}
TR.sectiontableentry1 TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
TR.sectiontableentry0 TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
TR.sectiontableentry2 TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
#right TR.sectiontableentry1 TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#left TR.sectiontableentry1 TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#left TR.sectiontableentry2 TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.var1 {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; PADDING-BOTTOM: 5px! important; MARGIN: 5px 0px; PADDING-TOP: 5px! important
}
.var2 {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 5px! important; MARGIN: 5px 0px; PADDING-TOP: 5px! important
}
.results {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
.results OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; TEXT-ALIGN: justify
}
.searchintro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.searchintro B {
	COLOR: #d04020
}
.searchintro STRONG {
	COLOR: #d04020
}
.sectiontableheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: #eee; PADDING-BOTTOM: 5px; COLOR: #87666e; PADDING-TOP: 5px
}
.sectiontableheader TH {
	PADDING-RIGHT: 5px; BORDER-TOP: #d8ced1 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #87666e; PADDING-TOP: 5px; BORDER-BOTTOM: #d8ced1 1px solid
}
.cartTable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #d8ced1 1px solid
}
.archiveBlock .button {
	DISPLAY: inline-block; MARGIN: 0px 0px 0px 5px
}
UL#archive-list H4 A {
	FONT-SIZE: 12px; TEXT-TRANSFORM: none
}
DL.poll {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
#poll H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
DL.poll DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
.poll .question {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #7a7a7a; PADDING-TOP: 0px
}
.poll .poll-body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.poll-body LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #575757; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
.poll .buttons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.poll .button {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/login-button.gif) repeat-x left top; PADDING-BOTTOM: 4px; MARGIN: 8px 0px 0px; WIDTH: 55px; CURSOR: pointer; COLOR: #fff; BORDER-TOP-STYLE: none; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.module .button {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/login-button.gif) repeat-x left top; PADDING-BOTTOM: 4px; MARGIN: 8px 0px 0px; CURSOR: pointer; COLOR: #fff; BORDER-TOP-STYLE: none; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.poll .result {
	
}
.poll .section {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 5px
}
.poll .section2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #151515; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #575757; PADDING-TOP: 5px
}
.poll .section2 LABEL {
	COLOR: #575757
}
.poll .radio {
	FLOAT: left; WIDTH: 20px
}
.poll .radio INPUT {
	DISPLAY: block; VERTICAL-ALIGN: middle; WIDTH: 16px; HEIGHT: 16px
}
.poll .var {
	MARGIN: 0px 0px 0px 20px; TEXT-ALIGN: left
}
.display {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.display SELECT {
	BORDER-RIGHT: #46462f 1px solid; BORDER-TOP: #46462f 1px solid; BORDER-LEFT: #46462f 1px solid; WIDTH: 100px; BORDER-BOTTOM: #46462f 1px solid
}
.sectiontableentry1 DIV {
	FONT-SIZE: 17px; COLOR: #000
}
.sectiontableentry0 DIV {
	FONT-SIZE: 17px; COLOR: #000
}
.product-Old-Price {
	COLOR: #000
}
.sectiontableentry1 .productPrice {
	COLOR: #f91919
}
.td_1 {
	WIDTH: 5%; TEXT-ALIGN: center
}
.td_2 {
	WIDTH: 5%; TEXT-ALIGN: center
}
.td_3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 90%; PADDING-TOP: 0px
}
.pollstableborder .question {
	PADDING-RIGHT: 0px; PADDING-LEFT: 85px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DL.contentpane DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
DL.contentpane DD {
	OVERFLOW: hidden; WIDTH: 100%
}
DL.contentpane DIV {
	VERTICAL-ALIGN: middle
}
DL.contentpane .description {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; WIDTH: 110px; PADDING-TOP: 0px
}
DL.contentpane .input-field {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; WIDTH: 160px; PADDING-TOP: 2px
}
DL.contentpane .button-field {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; WIDTH: 140px; PADDING-TOP: 0px
}
.module-search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 9px
}
.search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 15px
}
.search-input {
	FLOAT: left
}
.search-right H3 {
	
}
.search-button {
	FLOAT: left
}
.search .inputbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND: #1b1c1d; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 3px 0px 0px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; WIDTH: 157px; COLOR: #616161; BORDER-TOP-STYLE: none; LINE-HEIGHT: 14px; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.search .button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/login-button.gif) repeat-x left top; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 54px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Geneva, Tahoma; TEXT-ALIGN: center
}
.search_result {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.search_result H3 {
	FONT-SIZE: 14px; COLOR: #808080
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #d04020
}
.adminform TD {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #808080 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #808080 1px solid
}
.button1 {
	BACKGROUND: url(../images/button.gif) no-repeat left top
}
.container2 {
	OVERFLOW: hidden; WIDTH: 100%
}
.error {
	MARGIN: 0px 0px 10px
}
#system-message DT.error {
	DISPLAY: none
}
DT.message {
	DISPLAY: none
}
.error DD UL {
	PADDING-RIGHT: 0px; BORDER-TOP: #670606 3px solid; PADDING-LEFT: 5px; BACKGROUND: #ce0303; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 5px; BORDER-BOTTOM: #670606 3px solid
}
.error DD UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px 0px 0px 20px; COLOR: #fff! important
}
.module {
	MARGIN: 0px 0px 10px; WIDTH: 100%
}
.module .boxIndent {
	PADDING-RIGHT: 25px! important; PADDING-LEFT: 29px! important; BACKGROUND: url(../images/module-tail.gif) repeat-x left top; PADDING-BOTTOM: 15px! important; OVERFLOW: hidden; PADDING-TOP: 20px! important
}
.module H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; BACKGROUND: url(../images/module-title-tail.gif) repeat-x left top; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 11px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #606061; PADDING-TOP: 8px
}
.module DIV {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #575757
}
.module TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #7a7a7a; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.module P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #7a7a7a; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.module P {
	FONT: 12px/16px Arial, Helvetica, Tahoma
}
.module UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
.module UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #383c3c; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
.module LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #7a7a7a; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.module LI A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #7a7a7a; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.module LI A:hover {
	COLOR: #7a7a7a; TEXT-DECORATION: none! important
}
.count {
	TEXT-DECORATION: underline
}
.module A {
	COLOR: #eb005e; TEXT-DECORATION: underline
}
.module A:hover {
	COLOR: #d9dbdd; TEXT-DECORATION: none! important
}
.module {
	MARGIN: 0px 0px 10px; WIDTH: 100%
}
.module .boxIndent {
	PADDING-RIGHT: 25px! important; PADDING-LEFT: 29px! important; BACKGROUND: url(../images/module-tail.gif) repeat-x left top; PADDING-BOTTOM: 15px! important; OVERFLOW: hidden; PADDING-TOP: 20px! important
}
.module H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; BACKGROUND: url(../images/module-title-tail.gif) repeat-x left top; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 11px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #606061; PADDING-TOP: 8px
}
.module_text H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; BACKGROUND: url(../images/module-title-tail.gif) repeat-x left top; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 11px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #606061; PADDING-TOP: 8px
}
.module_text DIV {
	FONT: 12px/16px Arial, Helvetica, Tahoma; COLOR: #575757
}
.module_text .boxIndent {
	PADDING-RIGHT: 25px! important; PADDING-LEFT: 29px! important; BACKGROUND: url(../images/module-tail.gif) repeat-x left top; PADDING-BOTTOM: 15px! important; OVERFLOW: hidden; PADDING-TOP: 20px! important
}
.module-latest {
	BACKGROUND: #fff; MARGIN: 0px; WIDTH: 100%
}
.module-latest .boxIndent {
	PADDING-RIGHT: 15px! important; PADDING-LEFT: 20px! important; PADDING-BOTTOM: 11px! important; OVERFLOW: hidden; PADDING-TOP: 10px! important
}
.module-latest H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 21px; PADDING-BOTTOM: 11px; MARGIN: 0px; FONT: 23px/27px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #f91919; PADDING-TOP: 26px
}
.module_menu {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 20px; WIDTH: 100%
}
.module_menu .boxIndent {
	PADDING-RIGHT: 31px! important; PADDING-LEFT: 29px! important; BACKGROUND: url(../images/module-tail.gif) repeat-x left top; PADDING-BOTTOM: 15px! important; OVERFLOW: hidden; PADDING-TOP: 15px! important
}
.module_menu H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; BACKGROUND: url(../images/module-title-tail.gif) repeat-x left top; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 11px; FONT: bold 11px/11px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #606061; PADDING-TOP: 8px
}
.module_menu UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
.module_menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
.module_menu LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A.mainlevel {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/list-marker.gif) no-repeat left 15px; PADDING-BOTTOM: 5px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; PADDING-TOP: 12px; TEXT-DECORATION: none
}
A.sublevel {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/list-marker.gif) no-repeat left 15px; PADDING-BOTTOM: 5px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; PADDING-TOP: 12px; TEXT-DECORATION: none
}
A.mainlevel:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/list-marker.gif) no-repeat left 15px; PADDING-BOTTOM: 5px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; PADDING-TOP: 12px; TEXT-DECORATION: none
}
A.sublevel:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/list-marker.gif) no-repeat left 15px; PADDING-BOTTOM: 5px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; PADDING-TOP: 12px; TEXT-DECORATION: none
}
A.sublevel {
	BACKGROUND: url(../images/list-marker.gif) no-repeat 10px 15px
}
.module_menu LI {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/list-marker3.gif) no-repeat left 15px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; TEXT-DECORATION: none
}
.module_menu LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/list-divider.gif) repeat-x left bottom; PADDING-BOTTOM: 5px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; PADDING-TOP: 12px; TEXT-DECORATION: none
}
.module_menu LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/list-divider.gif) repeat-x left bottom; PADDING-BOTTOM: 5px; FONT: 10px/10px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #575757; PADDING-TOP: 12px; TEXT-DECORATION: none
}
.module_menu LI A SPAN {
	
}
.module_menu LI A:hover {
	COLOR: #d9dbdd; TEXT-DECORATION: none
}
A.mainlevel:hover {
	COLOR: #d9dbdd; TEXT-DECORATION: none
}
A.sublevel:hover {
	COLOR: #d9dbdd; TEXT-DECORATION: none
}
.module_menu LI A:hover SPAN {
	
}
.module_menu LI.active A {
	COLOR: #d9dbdd; FONT-STYLE: normal; TEXT-DECORATION: none
}
UL.menu-nav {
	background-color:#CAE001; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px -1px 0px 0px; WIDTH: 900px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.menu-nav LI {
	background-color:#CAE001; FLOAT: left; WIDTH: 128px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL.menu-nav LI.active {
	background-color:#CAE001; FLOAT: left; WIDTH: 151px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL.menu-nav LI A {
	background-color#:CAE001; BORDER-RIGHT: #747533 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: bold 11px/12px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #676768; PADDING-TOP: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL.menu-nav LI A:visited {
	background-color:#CAE001; BORDER-RIGHT: #747533 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: bold 11px/12px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #676768; PADDING-TOP: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL.menu-nav LI A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/menu-tail-active.gif) repeat-x left top; PADDING-BOTTOM: 9px; COLOR: #ffffff; PADDING-TOP: 15px; TEXT-DECORATION: none! important
}
UL.menu-nav LI.active A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: url(../images/menu-tail-active.gif) repeat-x left top; PADDING-BOTTOM: 12px! important; COLOR: #ffffff! important; PADDING-TOP: 9px! important; TEXT-DECORATION: none! important
}

#footer UL.menu-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 550px; PADDING-TOP: 18px; TEXT-ALIGN: right
}
#footer UL.menu-nav LI {
	BORDER-RIGHT: #575757 1px solid; PADDING-RIGHT: 11px; DISPLAY: inline; PADDING-LEFT: 11px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px -1px 0px 0px; PADDING-TOP: 0px
}
#footer UL.menu-nav LI A {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 6px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; COLOR: #575757! important; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#footer UL.menu-nav LI A:visited {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 6px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; COLOR: #575757! important; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#footer UL.menu-nav LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff! important
}
#footer UL.menu-nav .active A SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff! important
}

.module-login {
	MARGIN-BOTTOM: 15px
}
.module-login .moduleTopBg {
	WIDTH: 100%
}
.module-login .sec {
	WIDTH: 100%
}
.module-login .boxIndent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 16px; PADDING-TOP: 10px
}
.module-login H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; FONT: 18px/18px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #45121d; PADDING-TOP: 14px
}
#form-login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#form-login-remember {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 18px
}
#form-login-remember A {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #fff
}
#form-login-remember STRONG {
	FONT-SIZE: 10px; COLOR: #575757
}
.module-login LABEL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; WIDTH: 100%; COLOR: #fff; LINE-HEIGHT: 12px; PADDING-TOP: 0px
}
LABEL.remember {
	DISPLAY: inline; FONT-SIZE: 10px! important; TEXT-TRANSFORM: uppercase; COLOR: #575757! important; TEXT-DECORATION: underline
}
.module-login P {
	FONT-SIZE: 12px; COLOR: #6b6b6b
}
.module-login DIV {
	FONT-SIZE: 12px; COLOR: #6b6b6b
}
LABEL.remember {
	FONT-SIZE: 12px; COLOR: #6b6b6b
}
#mod_login_username {
	BORDER-RIGHT: #3b3b3b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #3b3b3b 1px solid; PADDING-LEFT: 0px; BACKGROUND: #1b1c1d; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: none; BORDER-LEFT: #3b3b3b 1px solid; WIDTH: 149px; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #3b3b3b 1px solid
}
#mod_login_password {
	BORDER-RIGHT: #3b3b3b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #3b3b3b 1px solid; PADDING-LEFT: 0px; BACKGROUND: #1b1c1d; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: none; BORDER-LEFT: #3b3b3b 1px solid; WIDTH: 149px; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #3b3b3b 1px solid
}
.module-login A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px/12px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #da1544; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.module-login A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px/12px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #da1544; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.module-login A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px/12px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #da1544; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.module-login A.reg {
	COLOR: #ffea00
}
.module-login A:hover {
	TEXT-DECORATION: none
}
.module-login .inputbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; MARGIN: 2px 0px; FONT: 11px Arial, Helvetica, Tahoma; VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; WIDTH: 207px; COLOR: #a09b96; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#modlgn_username {
	FLOAT: left
}
#modlgn_passwd {
	FLOAT: left
}
.module .username {
	FONT: 11px/12px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #fff! important
}
.module .password {
	FONT: 11px/12px Arial, Helvetica, Tahoma; TEXT-TRANSFORM: uppercase; COLOR: #fff! important
}
.module .button-login {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/login-button.gif) repeat-x 0px 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; FONT: bold 11px/14px Arial, Helvetica, Tahoma; WIDTH: 42px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.remember {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
INPUT.checkbox {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: 12px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 12px; BORDER-BOTTOM-STYLE: none
}
.username {
	MARGIN: 0px 5px 0px 0px
}
.password {
	MARGIN: 0px 16px 0px 0px
}
#inputs {
	FLOAT: left; WIDTH: 190px
}
#left LABEL {
	COLOR: #575757
}
#body {
	BACKGROUND: #333333
}
.main {
	OVERFLOW: hidden; WIDTH: 905px
}
#header {
	BACKGROUND: url(../images/header-bg.gif) repeat-x 0px 0px; HEIGHT: 179px
}
#top {
	OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 108px
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 30px; PADDING-TOP: 50px
}
#bot {
	BACKGROUND: url(../images/header-tail2.gif) repeat-x 50% top; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 50px
}
#martInfo {
	PADDING-RIGHT: 13px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 230px; PADDING-TOP: 26px
}
#martInfo2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 197px; PADDING-TOP: 37px; TEXT-ALIGN: left
}
* HTML #martInfo2 {
	WIDTH: 202px
}
* + HTML #martInfo2 {
	WIDTH: 202px
}
#search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 228px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
#martInfo2 INPUT {
	DISPLAY: inline; FONT-SIZE: 11px; VERTICAL-ALIGN: middle
}
#martInfo2 SELECT {
	DISPLAY: inline; FONT-SIZE: 11px; VERTICAL-ALIGN: middle
}
#martInfo2 H3 {
	DISPLAY: inline; FONT-SIZE: 11px; VERTICAL-ALIGN: middle
}
#martInfo2 FORM {
	DISPLAY: inline; FONT-SIZE: 11px; VERTICAL-ALIGN: middle
}
#martInfo2 H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #d9dbdd
}
#martInfo2 .button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/login-button.gif) repeat-x left top; PADDING-BOTTOM: 2px; WIDTH: 54px; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Geneva, Tahoma; TEXT-ALIGN: center
}
#martInfo2 SELECT {
	BACKGROUND: #1b1c1d; WIDTH: 81px; COLOR: #616161; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#martInfo .vmCartModule {
	FLOAT: left; COLOR: #575757! important
}
#martInfo .vmCartModule A {
	COLOR: #575757
}
#topmenu {
	BACKGROUND: OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 40px
}
#header #banner {
	BACKGROUND: HEIGHT: 352px
}
#header #banner P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 93px
}
#banners {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 26px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 16px
}
#banners P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#banners IMG {
	MARGIN: 0px 24px 0px 0px
}
.bannergroup {
	BORDER-BOTTOM: #000 2px solid
}
#left .bannergroup {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.banneritem {
	BORDER-RIGHT: #272729 5px solid; BORDER-TOP: #272729 1px solid; BORDER-LEFT: #272729 1px solid; BORDER-BOTTOM: #272729 1px solid
}
#left .banneritem {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 0px
}
#wrapper .width {
	OVERFLOW: hidden
}
#left {
	FLOAT: left; WIDTH: 207px; MARGIN-RIGHT: 2px
}
* HTML #left {
	MARGIN-RIGHT: -1px
}
#left .space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.container {
	BACKGROUND: #fff; OVERFLOW: hidden; HEIGHT: 1%
}
#right {
	FLOAT: right; BORDER-LEFT: #000 3px solid; WIDTH: 239px
}
* HTML #right {
	MARGIN-LEFT: -3px
}
#right .space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#footer {
	BACKGROUND: url(../images/footer-tail.gif) repeat-x 0px 0px; HEIGHT: 109px
}
#footer .space {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; FONT-SIZE: 11px; PADDING-BOTTOM: 35px; COLOR: #575757; LINE-HEIGHT: 18px; PADDING-TOP: 5px
}
#footer .space .footer-text SPAN {
	COLOR: #fff
}
#footer .space .footer-text {
	FONT-SIZE: 11px; WIDTH: 200px; COLOR: #575757; LINE-HEIGHT: 18px
}
#martInfo .button {
	WIDTH: 52px
}
#martInfo H3 {
	PADDING-RIGHT: 3px; DISPLAY: block; FLOAT: left; FONT: 11px Tahoma, Geneva, Tahoma; TEXT-TRANSFORM: uppercase; WIDTH: 85px; COLOR: #fff
}
#martInfo .moduletable {
	TEXT-ALIGN: right
}
.null {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.clr {
	FONT-SIZE: 0px; LINE-HEIGHT: 0px
}
.right {
	FLOAT: right! important
}
.container-indent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
